* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post {
  width: min(90%, 560px);
  border: 1px solid #000;
  margin: 0 auto;
  margin-top: 35px;
  height: auto;
}

.post-header {
  background-color: grey;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.1rem;
}

.post-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.1rem;
}

.post-img img {
  width: min(100%, 600px);
}

/* .post-body {
} */

.post-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  font-size: 20px;
  cursor: pointer;
}

.icons-items i {
  margin: 5px;
}

.post-body p {
  margin: 15px;
}
